@import 'tailwindcss';
@font-face {
  font-family: 'Marcellus';
  src: url('./assets/Marcellus-Regular.ttf');
}
@theme {
  --font-marcellus: 'Marcellus';
}
/* @font-face {
  font-family: 'Marcellus';
  src: url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
} */
* {
  cursor: none;
}
